<!-- Header start here  -->
<header class="page-header">
  <div class="container">
    <div class="d-flex align-items-center header-row">
      <a  class="logo"></a>
      <a (click)="openLink('https://www.lootvpn.com/feedback/')"  class="btn btn-link feedback-header"> Give Us Feedback</a>
      <div class="social ">
        <a (click)="openLink('https://www.facebook.com/Loot-VPN-1027615534116376')" class="fab fa-facebook-square"></a>
        <a (click)="openLink('https://twitter.com/loot_vpn')" target="_blank" class="fab fa-twitter"></a>
        <a (click)="openLink('https://www.instagram.com/lootvpn/')" target="_blank" class="fab fa-instagram"></a>
        <a (click)="openLink('https://discord.gg/RXymyWg')" target="_blank" class="fab fa-discord"></a>
      </div>
<!-- <button (click)="Logout()" class="btn btn-primary-home-1">Log Out</button> -->
      
    </div>
 
  </div>

</header>
<div class="clsbtns">
  <a (click)="minimizeWindow()" class="subtract-2"></a>
  <!-- <a (click)="maximizeWindow()" class="subtract-1"></a> -->
  <a (click)="confirmClose()" class="subtract-3"></a>
  <!-- <a (click)="auto()">cvbcvb</a> -->
</div>
<nav *ngIf="showRedBar" class="main-nav">
  <div  class="container text-center">
    <a class="free-trial">{{alertMessage}} </a>
    <a *ngIf="showBuyButton" (click)="openLink('https://www.lootvpn.com/login')" class="btn btn-primary">Buy Now</a>
  </div>
</nav>
<nav *ngIf="showBlueBar" class="update-nav">
  <div  class="container text-center">
    <a class="free-trial">{{updateInfo.title}} </a>
    <a  (click)="openLink('https://www.lootvpn.com')" class="btn btn-primary">Update</a>
    <button type="button" (click)="hideBlueBar()" class="update-close pull-right" aria-label="Close" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</nav>
<ng-template #closewindow>
  <div class="modal-body" class="startup-form">
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <form>
      <!-- <h2>Exit</h2> -->

      <div class="form-group">
        <h5>Are you sure you want to EXIT ?</h5>
        <!-- <label>
          <input type="checkbox" checked value="" disabled> VPN server will be disconnected if you log out.
        </label> -->
      </div>
      <button (click)="closeWindow()" class="btn btn-success  confirm-float">Yes</button>
      <button (click)="closeModal()" class="btn btn-danger closeConfirmed confirm-float">NO</button>


    </form>
  </div>
</ng-template>
<!-- Header end here  -->