<!-- Header start here  -->
<header class="page-header">
  <div class="container">
    <div class="d-flex align-items-center header-row">
      <a  class="logo"></a>
      <a  class="btn btn-link"> Give Us Feedback</a>
      <div class="social ">
        <a (click)="openSocialMedia('https://www.facebook.com/Loot-VPN-1027615534116376')" class="fab fa-facebook-square"></a>
        <a (click)="openSocialMedia('https://twitter.com/loot_vpn')" target="_blank" class="fab fa-twitter"></a>
        <a (click)="openSocialMedia('https://www.instagram.com/lootvpn/')" target="_blank" class="fab fa-instagram"></a>
        <a (click)="openSocialMedia('https://discord.gg/RXymyWg')" target="_blank" class="fab fa-discord"></a>
      </div>
    </div>
  </div>

</header>
<nav class="main-nav">
  <div class="container text-center">
    <a class="free-trial">Your free trial has ended </a>
    <a class="btn btn-primary">Buy Now</a>
    <div class="clsbtns">
      <a (click)="minimizeWindow()" class="subtract-2"></a>
      <a (click)="maximizeWindow()" class="subtract-1"></a>
      <a (click)="closeWindow()" class="subtract-3"></a>
    </div>


  </div>
</nav>

<!-- Header end here  -->