<!-- Home page start here  -->
<app-header></app-header>
<div class="overlay">
  <div class="customising">
    <h3>Control Panel
      <!-- <a href="#" class="close">x</a> -->
    </h3>
      <button (click)="Logout()" class="btn btn-primary-home">Log Out</button>
    <a (click)="openModal(template)" class="setting-btn">
    </a>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 col-12">
          <form class="setting-inner">

            <div class="form-group">
              <h5>Server</h5>
              <select name="" class="arrow-select-class form-control">
                <option>Fastest Server</option>
                <option>Australia, Sydney</option>
                <option>USA, Ohio</option>
              </select>
            </div>
            <p>Choose the server you want to connect to. "Fastest Server" automatically selects the server with the fastest
              speeds for gaming, streaming or downloading. Any other server region allows you to originate in that region
              for access to your favorite TV Shows, Movies & other anonymous activity</p>
            <!-- <p>Choose the Outfox server you want to connect to. "Fastest Server" automatically Select the server with the fastest
              speeds to the game server or uses your standard connection if that is fastest.</p> -->
            <button class="btn btn-success">Connect</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Template -->
<ng-template #template>
  <div class="modal-body" class="startup-form">
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <form>
      <h2>Settings</h2>

      <div class="form-group">
        <h5>Startup</h5>
        <label>
          <input type="checkbox" checked value=""> Launch Outfox on Window startup
        </label>
      </div>
      <div class="form-group">
        <h5>Notifications</h5>
        <label>
          <input type="checkbox" checked value=""> Enable desktop notifications
        </label>
      </div>
      <div class="form-group">
        <h5>Account</h5>
        <p>
          <a class="email">trim@internode.on.net</a>
          <a (click)="openLink('https://www.lootvpn.com/login')" class="manage-account ml-3">manage account </a>
        </p>
      </div>
     

    </form>
  </div>
</ng-template>